body{
  background-color: #171717;
}

p{
  color: #85aaaf;
}

h1{
  color: #85aaaf;
}

h2{
  color: #85aaaf;
}

h3{
  color: #85aaaf;
}
h4{
  color: #85aaaf;
}

.well{
  background-color: #222222;
  border: none;
  border-radius: 0;
}
.card{
  background-color: #222222;
  border: none;
  border-radius: 0;
}
.jumbotron{
  background-color: #222222;
  border: none;
  border-radius: 0;
}

.img-thumbnail{
  border: none;
  padding: 0;
}

.uploaded-by{
  color: #488048;
  transition: 0.2s;
  text-decoration: none;
}

.uploaded-by:hover{
  color: #FFF;
  text-decoration: none;
}

.orange{
  color: #775B22;
  text-decoration: none;
}
.grey{
  color: #5d5d5d;
}
.textarea{
  background-color: #5D5D5D;
  box-sizing: border-box;
  border: none;
  color: #fff;
}

.comment:nth-child(even) {
  background: #272727;
  text-align: right;
}

.linkit{
  text-decoration: none;
}
.linkit:hover{
  text-decoration: none;
}

