
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

.hover:hover{
  transition: 0.5s;
  opacity: 0.6;
}

.jumbotron-left{
  vertical-align: bottom;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;

}

footer .navbar{
  margin-bottom: 0;
}

.padding{
  margin-bottom: 20px;
}

.hover-image-relate{
  position: relative;
}

.hover-image-title{
  position: absolute;
  top: 0;
  left: 10px;
  a{
    color: black;
    opacity: 0;
    transition: 0.3s;
  }
}

.hover-image-relate:hover a{
  opacity: 1;
}

.image-gallery{
  height: 200px;
  object-fit: cover;
}

.image-gallery2{
  height: 250px;
  object-fit: cover;
}

.admin-panel-ul{
  width: 100%;
  margin: 20% auto;
}
.admin-panel-li{
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  list-style: none;
  position: relative;
  cursor: pointer;
  font-family:'Open Sans';
  font-weight: 300;
  perspective:1000;
}
.admin-panel-div{
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  /*transition*/
  transition:all 0.5s ease;
  /*backface-visibility*/
  backface-visibility:hidden;
  a{
    text-decoration: none;
    color: white;
  }
}
.front {
  z-index: 3;
  color: #fff;
  text-align: center;
  line-height: 300px;
  font-size: 40px;
  background: #e3e3e3;
}
.back {
  color: #fff;
  text-align: center;
  line-height: 300px;
  font-size: 40px;
  transform:rotateY(180deg);
  background: #34495e;
}
#box1 {
  background: #e74c3c;
}
#box2 {
  background: #2ecc71;
}
#box3 {
  background: #3498db;
}

.admin-panel-li:hover > .front{
  z-index: 0;
  transform:rotateY(180deg);
}
.admin-panel-li:hover > .back {
  transform:rotateY(0deg);
}
.admin-panel-a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color:white;
}

.admin-panel-a:hover{
  text-decoration: none;
  color:white;
}

body{
}

.home-page{
  text-decoration: none;
}

.home-page:hover{
  text-decoration:none;
  cursor:pointer;
}

a{
  color: inherit;
}